@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

:root {
	--color-brand-1: #F71735;
	/*Orange Engineering*/
	--color-brand-2: #F89400;
	/*Yellow Orange*/
	--color-brand-3: #2D325A;
	/*Dark Slate grey*/
	--color-brand-4: #F1F1F1;
	/*Languid Levander * grey*/
	--color-brand-5: #091819;
	/*Dark Jungle Green*/
	--color-brand-6: #0A0E29;
	--color-black: #000000;
	--color-white: #ffffff;

	--color-gradient-white:  rgba(241, 241, 241, 0.6);
	--color-gradient-black:  rgba(0, 0, 0, 0.6);

	--size-heading: 50px;
	--size-title: 40px;
	--size-subtitle: 30px;
	--size-body: 16px;

	--font-body: 'Raleway', sans-serif;
	--font-title: 'Cinzel', serif;
	--font-menu: 'Oswald', sans-serif;
}
/*---------------- Body ----------------*/
body {
	font-family: var(--font-body);
	font-size: var(--size-body);
	font-weight: 400;
	color: var(--color-brand-6);
}
h1 {
	font-family: var(--font-title);
	font-weight: 400;
	font-size: 40px;
	color: var(--color-brand-1);
	animation: fade-in-bottom-animation 0.8s cubic-bezier(0.250, 0.450, 0.560, 0.950) both;
}
h2 {
	font-family: var(--font-title);
	font-weight: 400;
	font-size: 35px;
	color: var(--color-brand-3);
}
h3 {
	font-family: var(--font-title);
	font-weight: 300;
	font-size: 30px;
	color: var(--color-brand-1);
}
h4 {
	font-family: var(--font-title);
	font-weight: 300;
	font-size: 30px;
	color: var(--color-brand-3);
}
p {
	text-align: justify;
}
a {
	color: var(--color-brand-1);
	transition: color 0.8s ease;
}
a:hover,a:active,a:focus {
	text-decoration: none;
	color: var(--color-brand-2);
	transition: color 0.8s ease;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
hr {
	width: 100%;
	height: 1px;
	color: var(--color-brand-4);
	background-color: var(--color-brand-4);
}
/*---------------- Hero Image module ----------------*/
.hero-image {
	height: 60vh;
	width: 90vw;
	overflow: hidden;
	float: left;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
	position: relative;
	margin-left: 5%;
	margin-right: 5%;
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 20%);
}
.hero-image-title {
	position: absolute;
	height: 20%;
	width: 50%;
	top: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0px 6px 12px 2px rgb(0 0 0 / 15%);
    /* background-color: rgba(241, 228, 243, 0.6); */
	background-color: rgba(241, 241, 241, 0.6);
    animation: fade-in-bottom-animation 0.8s cubic-bezier(0.250, 0.450, 0.560, 0.950) both;
}
.hero-image-title h2 {
	text-align: center;
}
header > div.navbar {
	/*background-color: var(--color-white);*/
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.section-module {
	display: flex;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	height: fit-content;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	z-index: 10;
	background-color: var(--color-white);
}
.section-last {
	margin-bottom: 200px;
	box-shadow: 0px 12px 12px 2px rgb(0 0 0 / 15%);
}
header > div.header-row {
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
	z-index: 1000;
	background-color: #ffffff;
}
header > div.navbar-container {
	display: block;
	height: 0;
	position: relative;
	z-index: 10;

}
body.scrolled header > div.header-row {
	background-color: var(--color-white);
	box-shadow: 0px 6px 12px 2px rgb(0 0 0 / 15%);
}
.header-row .header-logo .header-logo-link {
	font-size: var(--size-title);
	font-family: var(--font-title);
}

.header-row > div.header-tags.left {
    position: fixed;
    top: 0px;
    right: 0;
    width: 100px;
    height: 100px;
    z-index: 7;
}
.header-row .header-tags .main-menu-trigger {
    font-size: 40px;
    padding: 15px 25px;
    z-index: 1000;
    cursor: pointer;
    transition: 0.5s;
    background-color: var(--color-brand-1);
	/*transition: background-color 0.8s ease;*/
	display: inline-block;
	height: 100%;
	width: 100%;

}
.header-tags .main-menu-trigger .menu-hamburger {
	display: inline-block;
	width: 55px;
	height: 27px;
	z-index: 10;
}
.header-tags.left .main-menu-trigger .menu-hamburger .menu-hamburger-bars {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.header-tags.left .main-menu-trigger .menu-hamburger .menu-hamburger-bars i {
	position: absolute;
	display: inherit;
	background-color: var(--color-white);
	border-radius: 0px;
	height: 1px;
	transition: all 0.8s ease;
	width: 80%;
}

.header-tags .main-menu-trigger.main-menu-visible .menu-hamburger .menu-hamburger-bars i {
	/*background-color: var(--color-brand-5);*/
	height: 2px;
}

.header-tags .main-menu-trigger .menu-hamburger .menu-hamburger-bars i:nth-child(1) {
	top: 0;
	right: 0;
}
.header-tags .main-menu-trigger .menu-hamburger .menu-hamburger-bars i:nth-child(2) {
	visibility: visible;
	transition: all 0.5s ease;
}

.header-tags .main-menu-trigger .menu-hamburger .menu-hamburger-bars i:nth-child(3) {
	bottom: 0;
	left: 0;
}

.header-tags .main-menu-trigger:hover .menu-hamburger .menu-hamburger-bars i:nth-child(1),
.header-tags .main-menu-trigger:hover .menu-hamburger .menu-hamburger-bars i:nth-child(2),
.header-tags .main-menu-trigger:hover .menu-hamburger .menu-hamburger-bars i:nth-child(3) {
	width: 100%;
}

.header-tags .main-menu-trigger.main-menu-visible .menu-hamburger .menu-hamburger-bars i:nth-child(1) {
	top: unset;
	right: unset;
	transform: rotate(45deg);
}
.header-tags .main-menu-trigger.main-menu-visible .menu-hamburger .menu-hamburger-bars i:nth-child(2) {
	visibility: hidden;
}

.header-tags .main-menu-trigger.main-menu-visible .menu-hamburger .menu-hamburger-bars i:nth-child(3) {
	bottom: unset;
	left: unset;
	transform: rotate(-45deg);
}

.header-tags.left .main-menu-trigger:hover {
	box-shadow: inset 0 -100px 0 0 var(--color-brand-2);
}

#main-menu-level-one > ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	justify-content: center;
}
#main-menu-level-one > ul > li.menu-item > a {
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.8s ease;
}
#main-menu-level-one > ul > li.menu-item > a > svg {
	overflow: inherit;
	width: 100px;
	height: 100px;
}
#main-menu-level-one > ul > li.menu-item > a > svg > path {
	stroke: var(--color-brand-3);
    stroke-width: 4px;
    fill: none;
    transition: stroke 0.8s ease;
}
#main-menu-level-one > ul > li.menu-item > a > span.menu-item-title {
	margin-top: 10px;
	font-size: 30px;
	text-transform: uppercase;
	font-family: var(--font-menu);
	font-weight: 200;
	padding: 0;
}
#main-menu-level-one > ul > li.menu-item {
    width: 23vw; //15vw;
    height: 100%;
    border-right: 1px solid var(--color-brand-5);
    
}
#main-menu-level-one > ul > li.menu-item:nth-child(1),
#main-menu-level-one > ul > li.menu-item:nth-child(5) {
	border-left: 1px solid var(--color-brand-5);
}
#main-menu-level-one>ul.menu-header>li:hover a{
	color: var(--color-white) !important;
	box-shadow: inset 0 -200px 0 0 var(--color-brand-1);
}
#main-menu-level-one>ul.menu-header>li:hover a>.menu-item-title {
	color: var(--color-white) !important;
	font-weight: 300 !important;
}

#main-menu-level-one>ul.menu-header>li:hover a>svg.menu-link-icon-svg path {
	stroke: var(--color-white) !important;
}
header > div.navbar-container > div.main-menu {
	transform: translateY(-200%);
	transition: transform 2s ease;
	margin-top: 3px;
	height: fit-content;
	background-color: var(--color-white);
	box-shadow: 0px 6px 12px 2px rgb(0 0 0 / 15%);
}

/*header > div.navbar-container > div.main-menu.hidden {
	transform: translateY(-200%);
	transition: transform 2s ease;
}*/
header > div.navbar-container > div.main-menu.visible {
	transform: translateY(0%);
	transition: transform 1s ease;
}

/*---------------- Section ----------------*/
.main-content {
	padding-left: 5%!important;
	padding-right: 5%!important;
	margin-top: 170px;
}
.main-content-title {
	float: left;
	padding: 30px 50px;
}
.main-content-title-home {
	float: right;
	padding: 30px 50px;
}
.main-content-text {
	float: right;
	padding: 30px 0;
}
.main-content-text-home {
	float: left;
	padding: 30px 0;
}
.row {
	margin-right: 0;
	margin-left: 0;
	width: 100%;
}
section  .work-history > div > .work-history-items {
	width: 80%;
	margin-left: 10%;
}
section  .work-history > div > .work-history-items .work-history-item .work-history-item--trigger {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	position: relative;
	box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
    margin-bottom: 20px;
}
section  .work-history > div > .work-history-items .work-history-item:nth-child(odd) .work-history-item--trigger {
	background-color: var(--color-brand-4);
}
section  .work-history > div > .work-history-items .work-history-item:nth-child(even) .work-history-item--trigger {
	background-color: transparent;
}
section  .work-history > div > .work-history-items .work-history-item .work-history-item--trigger::after {
	content: '+';
	position: absolute;
	right: 20px;
	width: 10%;
    font-size: var(--size-title);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    cursor: pointer;
}
section  .work-history > div > .work-history-items .work-history-item .work-history-item--trigger[aria-expanded="true"]::after {
	content: '-';
}
section  .work-history > div > .work-history-items .work-history-item .work-history-item--trigger[aria-expanded="true"] + .work-history-item--panel {
	height: auto;
    opacity: 1;
    padding: 20px 20px 20px 10%;
}
section  .work-history > div > .work-history-items .work-history-item .work-history-item--panel {
	height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 400ms ease-in-out, opacity 350ms linear;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}
section  .work-history > div > .work-history-items .work-history-item .work-history-item--trigger .work-dates {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
section  .work-history > div > .work-history-items .work-history-item .work-history-item--trigger .work-content {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
/*------------------------------------------*/
body > div > section.container-fluid.section-module.section-last.add-animation > div > div.col-12.section-title {
	padding: 50px 5%;
}
section > div > div.images-links-3-col {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
section > div > div.images-links-3-col .images-links-3-col-single-col {
	height: 60vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
	position: relative;
	animation: fade-in-bottom-animation 0.8s cubic-bezier(0.250, 0.450, 0.560, 0.950) both;
}
section > div > div.images-links-3-col > div > a > .portfolio-embeded {
	width: 100%;
}
section > div > div.images-links-3-col .images-links-3-col-single-col a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
	position: relative;
	/* border: 1px solid #2D325A; */
	box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
	overflow: hidden;
	width: 100%;
}
section > div > div.images-links-3-col .images-links-3-col-single-col a span {
	position: absolute;
	height: 40%;
	width: 70%;
	top: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(241, 241, 241, 0.6);
	/*background: rgba( var(--color-brand-4), 0.6);*/
}
section > div > div.images-links-3-col .images-links-3-col-single-col a .images-links-3-col-single-col-title {
	position: absolute;
	height: 20%;
	width: 100%;
	top: unset;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(241, 241, 241, 0.6);
	/*background: rgba( var(--color-brand-4), 0.6);*/
}
section > div > div.images-links-3-col .images-links-3-col-single-col a span h3 {
	color: var(--color-brand-3);
	text-align: center;
	transition: color 0.8s ease;
}
section > div > div.images-links-3-col .images-links-3-col-single-col a:hover span h3 {
	color: var(--color-brand-1);
	transition: color 0.8s ease;
	animation: fade-in-bottom-animation 0.8s cubic-bezier(0.250, 0.450, 0.560, 0.950) both;
}
/*---------------- Skills module ----------------*/
.col-skills {
	width: 100%;
	height: 100px;
}
.col-skills a {
	width: 100%;
	height: 100%;
	color: var(--color-brand-6);
}
.skills-item {
	padding-top: 10px;
	padding-bottom: 0px;
	display: flex;
	flex-direction: row;
	padding-right: 5%;
	animation: fade-in-bottom-animation 0.8s cubic-bezier(0.250, 0.450, 0.560, 0.950) both;
}
.skills-item:nth-child(1) {
	animation-delay: 0.5s;
}
.skills-item:nth-child(2) {
	animation-delay: 1s;
}
.skills-item:nth-child(3) {
	animation-delay: 1.5s;
}
.skills-item:nth-child(4) {
	animation-delay: 2.0s;
}
.skills-item:nth-child(5) {
	animation-delay: 2.5s;
}
.skills-item:nth-child(6) {
	animation-delay: 3s;
}
.skills-logo {
	text-align: center;
}
.skills-logo:hover a {
	color: var(--color-brand-1);
	transition: color 0.8s ease;
}
.skills-logo:hover a .languages-logos-skills {
    filter: grayscale(0);
    transform: scale(1.2);
	transition: all 0.8s ease;
}
.progress-type {
	position: absolute;
	padding: 8px;
	color: var(--color-brand-4);
	font-weight: 400;
	font-size: 16px;
}
.programming-languages-icons-skills .col a {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.languages-logos-skills {
	width: 100%;
	height: 50%;
	object-fit: contain;
    filter: grayscale(1);
    transform: scale(1);
	transition: all 0.8s ease;
}
.progress {
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 0;
	background-color: var(--color-brand-2);
}
.progress-bar {
	background-color: var(--color-brand-3);
}

/* START -------------- Form module --------------*/
.contact-form-section {
	justify-content: center;
	width: 50%;
}
form.contact-form-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
form.contact-form-form button {
	color: var(--color-brand-6);
	width: fit-content;
	margin: 10px 20px;
}
form .form-input {
	width: 100%;
	height: 40px;
	border-right: 0;
	margin-bottom: 10px;
	border: 1px solid var(--color-brand-6);
	outline: none;
}
form .form-input::placeholder {
	padding-left: 20px;
}
form .form-input.textarea {
	height: auto;
}

.btn.btn-primary {
	border-radius: 0;
	color: var(--color-brand-1);
	border: 1px solid var(--color-brand-1);
	background-color: transparent;
	transition: 1s;
	padding: 15px 30px;
	/*color: var(--color-brand-6);
	background: var(--color-white);
	border-radius: 0;
	*/
}
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
	/*background-color: var(--color-brand-5)!important;
	border: 1px solid var(--color-brand-5)!important;*/
	box-shadow: inset 0 -100px 0 0 var(--color-brand-1);
    background-color: transparent;
	color: var(--color-white);
}

.section-title {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.section-title h1 {
	animation: fade-in-from-bottom-animation 0.8s cubic-bezier(0.25, 0.450, 0.6, 0.79) both;
}

/*---------------- Social links module ----------------*/
.social-links-container {
	margin-top: 20px;
	margin-bottom: 20px;
}
.social-links-container ul {
	margin: 0;
	padding: 0;
}
.social-links-container ul li {
	margin-left: 20px;
	margin-right: 20px!important;
}
.social-links-container ul li a {
	color: var(--color-brand-3);
}
.social-links-container ul li a:hover {
	color: var(--color-brand-2);
}
.social-links-container ul li a:hover i {
	transform: scale(1.2);
	transition: all 0.8s ease;
}
.social-links-container ul li a i {
    font-size: 40px;
    transform: scale(1);
	transition: all 0.8s ease;
}

.btn-outline-primary {
	color: var(--color-brand-1);

}
.btn-outline-primary,
.btn-outline-primary:hover {
	background-color: transparent;
}
body > div > div.btt-button.scrolling-up {
	position: fixed;
	border-radius: 0;
	right: 20px;
	bottom: -100px;
	z-index: 1000;
	width: 100px;
	height: 50px;
	border-color: var(--color-brand-1);
	transition: transform 0.8s ease;
	/*animation: fade-in-bottom-animation 0.8s cubic-bezier(0.25, 0.450, 0.6, 0.79) both;*/
}
.btt-link.show {
	border-radius: 0;
	color: var(--color-brand-1);
	background-color: transparent;
	position: absolute;
	height: 100%;
	width: 100%;
	right: 0;
	top: 0;
	display: flex;
	transition: 1s
}
.btt-link.show:hover {
	box-shadow: inset 0 -100px 0 0 var(--color-brand-1);
	background-color: transparent;
}
body.scrolled > div > div.btt-button.scrolling-up {
	position: fixed;
	/*bottom: 20px;*/
	transform: translateY(-120px);
	transition: transform 0.8s ease;
	/*animation: fade-in-bottom-animation 0.8s cubic-bezier(0.25, 0.450, 0.6, 0.79) both;*/
}
/*---------------- Footer ----------------*/
footer {
	/*margin-top: 50px;
	padding-bottom: 50px!important;*/
	/*clear: both;*/
	position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
}
.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
}
.footer-menu-row {
	padding-top: 20px;
	border-top: 1px solid var(--color-brand-6);
	margin-right: 5%;
	margin-left: 5%;
}
.footer-menu {
	display: inline-block;
	text-align: center;
}
.footer-menu-row .footer-menu > ul {
	margin-bottom: 30px;
}
.footer-menu-row .footer-menu > ul > li {
	margin-right: 0!important;
}
.footer-menu-row .footer-menu > ul > li a.menuitem-link {
	padding: 20px;
	color: #2D325A;
	transition: all 0.8s ease;
}
.footer-menu-row .footer-menu > ul > li a.menuitem-link:hover {
	color: var(--color-brand-1)!important;
	background-color: var(--color-brand-4);
	transition: all 0.8s ease;
}

.add-animation {
	animation: fade-in-bottom-animation-section 1.8s cubic-bezier(0.250, 0.450, 0.560, 0.950) both;
}

.container{
  width: 90%;
  overflow: hidden;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  position: relative;
  max-width: 100%;  
}
/*.image{
  display: none;
}*/
.hero-image-slider-image {
	position: relative;
}
.hero-image-slider-content {
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
    align-items: center;
    height: 40%;
    top: 30%;
    width: 60%;
    left: 20%;
    background-color: rgba(241, 241, 241, 0.6);
}

/* Next & previous buttons */
#prev,
#next{  
	position: absolute;
	top: 43%;
	cursor: pointer;
	padding: 16px;
	color: var(--color-brand-1);
	font-weight: bold;
	font-size: 1rem;
	transition: 0.6s ease;
	border-radius: 0;
	user-select: none;
}
#prev {
	left: 0;
}
#next{
	right: 0;
}

#prev:hover, 
#next:hover {
  color: var(--color-white);
} 

.dots{
	position: absolute;
	text-align: center;
	bottom: 0;
	/*margin-top: 2%;*/
}

.dot{
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--color-brand-1);
  border-radius: 50%;
  /* transition from one do to the next */
  transition: background-color 0.6s ease;
}
.active{
  background-color: var(--color-brand-3);
} 
.fade{
	opacity: 1;
/* Animation support for different browsers */
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade-in-bottom-animation {
	0% {
		transform: translateY(30px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fade-in-bottom-animation-section {
	0% {
		transform: translateY(30px);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@media (max-width: 1199px) {
	h1 {
		font-size: 35px;
		text-align: center;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 26px;
	}
	h4 {
		font-size: 24px;
	}

	.header-row .header-logo .header-logo-link {
		font-size: var(--size-subtitle);
	}
	.contact-form-section {
		width: 90%;
	}
	.section-title h1 {
		font-size: var(--size-subtitle);
	}
	section  .work-history > div > .work-history-items {
		width: 96%;
		margin-left: 2%;
	}

}
